// Headings
h1,
h2,
h3 {
	margin: 0 0 10px 0;
	font-family: $font-family-primary;
}
h1 {
	font-size: 1.8rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.3rem;
}

// Paragraph
p {
	line-height: 1.5;
	margin: 0 0 0.5rem 0;
}

// Anchor
a {
	color: $colourTwo;
}