/*
	Typography component

	- Core font styles / sizes etc
	- Found site wide
*/

// Vars
$typography: (
	'break1': 48.000em, // 768px
	'padding5' : 5px,
	'padding10': 10px,
	'padding20': 20px,
	'padding40': 40px
);

// Styles
h1,
h2,
h3,
h4 {
	margin: 0 0 map-get($typography, 'padding10') 0;
	font-family: $font-family-primary;
}

h1 {
	font-size: 1.8rem;
    margin: 0;
    padding: map-get($typography, 'padding10') map-get($typography, 'padding20') map-get($typography, 'padding10') 0;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	font-size: 1.1rem;
}

p {
	line-height: 1.5;
	margin: 0 0 map-get($typography, 'padding10') 0;
}

a {
	color: $colourOne;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

blockquote {
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: $colourTwo;
    font-style: italic;
    display: inline-block;
    padding: map-get($typography, 'padding5') map-get($typography, 'padding20') map-get($typography, 'padding5') map-get($typography, 'padding10');
}
