/*
	Messaging component

	- Used to alert users to possibke action or assurance
	- Found site wide
*/

// Vars
$messages: (
	'padding10': 10px
);

// Styles
.message {
	padding: map-get($button, 'padding10');
	border-style: solid;
	border-width: 1px;
}

.message__warning {
	background-color: $warning;
	color: darken($warning, 50%);
	border-color: darken($warning, 10%);
}

.message__success {
	background-color: $success;
	color: darken($success, 50%);
	border-color: darken($success, 10%);
}

.message__error {
	background-color: $error;
	color: darken($error, 50%);
	border-color: darken($error, 10%);
}
