// Brand colours
$colourOne: #cf6766; // Crimson sky (red)
$colourTwo: #30415d; // Indigo (blue)
$colourThree: #031424; // Ultramarine (dark blue)
$colourFour: #8eaebd; // Light blue (light blue)

// Non-brand specific colours
$black: #000000;
$white: #ffffff;
$grey: #cccccc;
$red: #d00202;
