// Brand colours
$colourOne: #405952; // Dark green
$colourTwo: #9c9b7a; // Khaki
$colourThree: #ffd393; // Pink
$colourFour: #ff974f; // Amber
$colourFive: #f54f29; // Red

// Non-brand specific colours
$black: #000000;
$white: #ffffff;
$grey: #cccccc;

// Warning
$warning: #fcf8e3; // Amber

// Success
$success: #dff0d8; // Green

// Error
$error: #f2dede; // Red
