.button {
	position: relative;
	padding: 0.75rem 2rem 0.7rem 2rem;
	border-radius: 4px;
	color: #ffffff;
	text-decoration: none;
	font-family: $font-family-secondary;
	font-size: $font-large;
	&:active {
		border-bottom-width: 5px;
		border-bottom-style: solid;
		border-bottom-color: transparent;
	}
	&:focus {
		outline: none;
	}

	// This resets default button styles
	border-style: none;
	cursor: pointer;

	// This resets default href styles
	display: inline-block;
}
.button__primary {
	background-color: $colourOne;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: darken($colourOne, 10%);
	text-shadow: 0px -2px darken($colourOne, 10%);
	&:hover {
		background-color: darken($colourOne, 5%);
	}
}
.button__secondary {
	background-color: $colourTwo;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: darken($colourTwo, 10%);
	text-shadow: 0px -2px darken($colourTwo, 10%);
	&:hover {
		background-color: darken($colourTwo, 5%);
	}
}
.button__tertiary {
	background-color: $colourThree;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: darken($colourThree, 10%);
	text-shadow: 0px -2px darken($colourThree, 10%);
	&:hover {
		background-color: darken($colourThree, 5%);
	}
}
