// 700px
$navBreak: '43.750em';

// Navicon
.navicon {
    position: relative;
    padding-left: 1.25em;
    margin: 0.75rem 0.75rem 0 0.75rem;
    display: inline-block;
    @media(min-width: $navBreak) {
        display: none;
    }
}
.navicon:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow: 0 0.25em 0 0 $black, 0 0.5em 0 0 $black;
}

// Main nav
.main-nav {
	background-color: $highlight;
    max-height: 0;            
    overflow-y: hidden;
    transition: max-height 0.5s ease-in-out;
    margin-top: 0.75rem;
    @media(min-width: $navBreak) {
        max-height: 50px;
        transition: none;
        margin-top: 0;
        height: 50px;
    }
}
.main-nav--open {           
    overflow-y: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 200px;
    @media(min-width: $navBreak) {
        max-height: auto;
        transition: none;
    }
}
.main-nav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.main-nav__item {
    border-bottom: 1px solid $white;
    &:last-child {
    	border-bottom: 0;
    }
    @media(min-width: $navBreak) {
    	display: inline-block;
    	border-bottom: 0;
	    line-height: 2rem;
	    border-right-width: 1px;
	    border-right-style: solid;
	    border-right-color: $white;
	    &:last-child {
	    	border-right: 0;
	    }
    }
}
.main-nav__link {
    height: 50px;
    color: $black;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    &:hover {
    	background-color: darken($subtle, 10%);
    }
}
.main-nav__link--selected {
	background-color: $white;
    &:hover {
        background-color: $white;
        cursor: default;
    }
}
