// 700px
$navBreak: '43.750em';

.main-nav {
	background-color: $colourFour;
}
.main-nav__item {
    border-bottom: 1px solid white;
    &:last-child {
    	border-bottom: 0;
    }
    @media(min-width: $navBreak) {
    	display: inline-block;
    	border-bottom: 0;
    	height: 50px;
	    line-height: 2rem;
	    border-right-width: 1px;
	    border-right-style: solid;
	    border-right-color: white;
	    &:last-child {
	    	border-right: 0;
	    }
    }
}
.main-nav__link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    &:hover {
    	background-color: darken($colourFour, 10%);
    }
}
.main-nav__link--selected {
	background-color: darken($colourFour, 10%);
}