/*
    Navigation component

    - Used for mobile navigation and when there si room, traditional navigation
    - Found site wide
*/

// Vars
$main-nav: (
    'break1': 36.875em, // 590px
    'padding5': 5px,
    'padding10': 10px,
    'padding15': 15px,
    'padding20': 20px
);

// Styles
.main-nav__navicon {
    position: relative;
    padding-left: map-get($main-nav, 'padding20');
    margin: map-get($main-nav, 'padding10') map-get($main-nav, 'padding10') 0 map-get($main-nav, 'padding10');
    display: inline-block;
    color: $black;
    @media(min-width: map-get($main-nav, 'break1')) {
        display: none;
    }
    * {
        box-sizing: border-box;
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        width: 15px;
        height: 2px;
        background: $black;
        box-shadow: 0 0.25em 0 0 $black, 0 0.5em 0 0 $black;
    }
}

.main-nav {
    background-color: $highlight;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.5s ease-in-out;
    margin-top: map-get($main-nav, 'padding10');
    @media(min-width: map-get($main-nav, 'break1')) {
        background-color: transparent;
        max-height: 50px;
        transition: none;
        margin-top: 0;
        height: 25px;
        z-index: 1;
        padding: map-get($main-nav, 'padding10');
    }
}

.main-nav--open {
    overflow-y: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 350px;
    @media(min-width: map-get($main-nav, 'break1')) {
        max-height: auto;
        transition: none;
    }
}

.main-nav--fixed {
    @media(min-width: map-get($main-nav, 'break1')) {
        position: fixed;
        right: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.95);
        width: 100%;
        text-align: right;
        border-bottom: 1px solid $grey;
    }
}

.main-nav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
}

.main-nav__item {
    border-bottom: 1px solid $white;
    height: 100%;
    &:last-child {
        border-bottom: 0;
    }
    @media(min-width: map-get($main-nav, 'break1')) {
        display: inline-block;
        border-bottom: 0;
        &:last-child {
            border-right: 0;
        }
    }
}

.main-nav__link {
    height: 100%;
    color: $black;
    display: block;
    padding: map-get($main-nav, 'padding15');
    &:hover {
        text-decoration: none;
        background-color: darken($subtle, 10%);
    }
    @media(min-width: map-get($main-nav, 'break1')) {
        font-weight: 900;
        padding: 5px 0 0 0;
        margin: 0 map-get($main-nav, 'padding15');
        &:hover {
            background-color: transparent;
            border-bottom: 3px solid $colourOne;
        }
        .main-nav--fixed & {
            color: $black;
        }
    }
}

.main-nav__link--selected {
    background-color: $white;
    &:hover {
        background-color: $white;
        cursor: default;
    }
    @media(min-width: map-get($main-nav, 'break1')) {
        background-color: transparent;
        border-bottom: 3px solid $colourOne;
        &:hover {
            background-color: transparent;
        }
    }
}
