/*
	Table component

	- Used for generic table styles
	- Found mostly on article pages
*/

// Vars
$table: (
	'padding10': 10px
);

// Styles
table {
	border-spacing: 0;
	width: 100%;
}

th,
td {
	padding: map-get($table, 'padding10');
}

th {
	text-align: left;
	background-color: $colourTwo;
	color: $white;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: $black;
}

tr {
	&:nth-child(even) {
		background-color: lighten($colourTwo, 40%);
	}
	&:hover {
		background-color: lighten($colourTwo, 35%);
	}
}
