select,
input[type="text"],
input[type="number"],
textarea {
	font-size: 16px;
	font-family: $font-family-secondary;
}

select {
	-webkit-appearance: none;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    height: 40px;
    background-color: transparent;
    background-image: url('/iconography/img/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: 99% 50%;
}

input[type="text"],
input[type="number"] {
	padding: 0.5rem;
	height: 40px;
}
textarea {
	height:100px;
	width: 100%;
}