// Font family
$font-family-primary: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-family-secondary: Georgia, Times, "Times New Roman", serif;

// Font sizes
$font-large: 1.1rem;
$font-small: 0.9rem;
$font-smaller: 0.8rem;