// Font family
$font-family-primary: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$font-family-secondary: Helvetica, Arial, sans-serif;

// Font sizes
$font-large: 1rem;
$font-medium: 0.9rem;
$font-small: 0.8rem;