/*
	Font component

	- Used to set both fonts and a collection of font sizes
	- Found site wide
*/
/*
	Layout component

	- Core layout and container styles
	- Found site wide
*/
body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  color: #555555; }

.container {
  max-width: 1000px;
  margin: 0 auto; }

@media (min-width: 48em) {
  .main__header--home {
    margin-bottom: 30px; } }

.main__page-content {
  display: table;
  table-layout: fixed;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box; }

.main__content {
  margin: 20px 20px 0 20px; }
  @media (min-width: 48em) {
    .main__content {
      padding: 40px;
      width: 80%; } }

@media (min-width: 48em) {
  .main__content--with-aside {
    vertical-align: top;
    display: table-cell;
    width: 70%; } }

.main__aside {
  margin: 20px; }
  @media (min-width: 48em) {
    .main__aside {
      padding: 40px 40px 40px 0;
      display: table-cell;
      width: 30%; } }

.main__footer {
  background-color: #eaeaea; }

body {
  padding: 10px;
  background-color: white; }

.component {
  margin: 10px 0; }

.component__wrap {
  padding: 10px; }

.component__meta {
  padding: 10px;
  background-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-color: #8a8585;
  margin-top: 10px;
  white-space: pre-wrap;
  color: #ffffff; }

.component__menu-flex {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.component__menu-item {
  flex: 1;
  padding: 20px; }

.component__menu-link {
  padding: 10px 0 5px 0;
  display: block; }

.colour-one {
  background-color: #F09A31;
  padding: 10px;
  color: white; }

.colour-two {
  background-color: #5BC4EC;
  padding: 10px;
  color: white; }

.colour-three {
  background-color: #dff0d8;
  padding: 10px;
  color: black; }

.colour-four {
  background-color: #74BA5E;
  padding: 10px;
  color: white; }

.colour-five {
  background-color: #fcf8e3;
  padding: 10px;
  color: black; }

.colour-six {
  background-color: #4b57a2;
  padding: 10px;
  color: white; }

.black {
  background-color: #555555;
  padding: 10px;
  color: white; }

.white {
  background-color: #ffffff;
  padding: 10px;
  color: black; }

.grey {
  background-color: #cccccc;
  padding: 10px;
  color: black; }

.highlight {
  background-color: #eaeaea;
  padding: 1rem;
  color: black; }

.subtle {
  background-color: #f7f7f7;
  padding: 10px;
  color: black; }

.warning {
  background-color: #fcf8e3;
  padding: 10px; }

.success {
  background-color: #dff0d8;
  padding: 10px; }

.error {
  background-color: #f2dede;
  padding: 10px; }

.main__header {
  background: #F09A31; }

.main__content {
  background: #5BC4EC; }

.main__aside {
  background: #dff0d8; }

.main__footer {
  background: #eaeaea; }

.font-xl {
  font-size: 1.4rem; }

.font-large {
  font-size: 1.2rem; }

.font-small {
  font-size: 0.9rem; }

.font-smaller {
  font-size: 0.7rem; }

/*
	Buttons component

	- Used for primary and secondary CTA's
	- Found site wide
*/
.button {
  text-align: center;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 0.9rem;
  min-width: 200px;
  border-radius: 3px;
  box-sizing: border-box;
  border-style: none;
  cursor: pointer;
  display: inline-block; }
  .button:active {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent; }
  .button:focus {
    outline: none; }

.button__primary {
  background-color: #74BA5E;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #5ba045;
  text-shadow: 0px -2px #5ba045; }
  .button__primary:hover {
    background-color: #65b24c; }

.button__secondary {
  background-color: #5BC4EC;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #2db4e7;
  text-shadow: 0px -2px #2db4e7; }
  .button__secondary:hover {
    background-color: #44bce9; }

/*
	Typography component

	- Core font styles / sizes etc
	- Found site wide
*/
h1,
h2,
h3,
h4 {
  margin: 0 0 10px 0;
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 1.8rem;
  margin: 0;
  padding: 10px 20px 10px 0; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.3rem; }

h4 {
  font-size: 1.1rem; }

p {
  line-height: 1.5;
  margin: 0 0 10px 0; }

a {
  color: #F09A31;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

blockquote {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #5BC4EC;
  font-style: italic;
  display: inline-block;
  padding: 5px 20px 5px 10px; }

/*
	Gallery component

	- Showcasing images
	- Found on article pages
*/
.slider {
  overflow: hidden; }
  .slider * {
    box-sizing: border-box; }

.slider__main {
  position: relative; }

.slider__link {
  display: block;
  cursor: default; }

.slider__img,
.slider__video {
  width: 100%;
  display: block; }

.slider__navigation--main {
  position: absolute;
  top: 43%;
  background: #000;
  cursor: pointer;
  color: #fff;
  opacity: 0.8;
  width: 44px;
  height: 44px;
  text-align: center;
  border: 0; }

.slider__navigation--main:focus {
  outline: 0; }

.slider__navigation--main:disabled {
  display: none; }

.slider__navigation--main.left {
  left: 0; }

.slider__navigation--main.right {
  right: 0; }

.slider__navigation--main:before {
  position: absolute;
  content: '';
  background-image: url("http://www.crystalski.co.uk/static/img/crystal/arrow-sprite.png");
  background-repeat: no-repeat;
  width: 13px;
  height: 13px; }

.slider__navigation--main.left:before {
  background-position: 4px -309px;
  left: 11px;
  top: 15px; }

.slider__navigation--main.right:before {
  background-position: 4px -342px;
  right: 17px;
  top: 15px; }

.slider__nav {
  position: relative;
  padding: 5px 0px;
  background: black; }

.slider__thumbs {
  position: relative;
  margin: 0;
  padding: 0;
  display: block; }
  .slider__thumbs:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.thumbs__list-item {
  float: left;
  padding: 0 2px;
  cursor: pointer;
  list-style-type: none;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out; }

.thumbs__list-item.selected {
  opacity: 1;
  position: relative; }

.thumbs__list-item.selected .thumbs__img {
  border: 2px solid #fff; }

.thumbs__img {
  width: 100%;
  display: block;
  border: 2px solid transparent; }

.slider__navigation--thumb {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  width: 30px;
  height: 100%;
  color: #fff;
  border: 0; }

.slider__navigation--thumb:focus {
  outline: 0; }

.slider__navigation--thumb:disabled {
  display: none; }

.slider__navigation--thumb.left {
  left: 0; }

.slider__navigation--thumb.right {
  right: 0; }

.slider__navigation--thumb:before {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  content: '';
  background-image: url("http://www.crystalski.co.uk/static/img/crystal/arrow-sprite.png");
  background-repeat: no-repeat;
  width: 13px;
  height: 13px; }

.slider__navigation--thumb.left:before {
  background-position: 4px -309px;
  left: 50%;
  margin-left: -35.5em; }

.slider__navigation--thumb.right:before {
  background-position: 4px -342px;
  right: 50%;
  margin-right: -4px; }

.slider__counter {
  position: absolute;
  right: 0.25em;
  bottom: 0.25em;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.7);
  color: #fff; }
  @media (min-width: 35.5em) {
    .slider__counter {
      right: 1em;
      bottom: 1em; } }

/*
	Messaging component

	- Used to alert users to possibke action or assurance
	- Found site wide
*/
.message {
  padding: 10px;
  border-style: solid;
  border-width: 1px; }

.message__warning {
  background-color: #fcf8e3;
  color: #caad16;
  border-color: #f7ecb5; }

.message__success {
  background-color: #dff0d8;
  color: #529138;
  border-color: #c1e2b3; }

.message__error {
  background-color: #f2dede;
  color: #963b3b;
  border-color: #e4b9b9; }

/*
	Pagination component

	- Used for paging on results
	- Found on browse/results pages
*/
.pagination {
  text-align: center;
  padding: 0; }

.pagination__item {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc; }

.pagination__link {
  display: block;
  padding: 5px;
  text-decoration: none; }

.pagination__link--selected {
  background-color: #5BC4EC;
  color: #ffffff;
  cursor: default; }

/*
	Breadcrumbs component

	- Used so users are always aware of where they are on the site
	- Found in header on all pages below homepage
*/
.breadcrumbs {
  margin: 0;
  padding: 0; }

.breadcrumbs__item {
  display: inline-block;
  font-size: 0.9rem; }

.breadcrumbs__item--divider {
  color: #F09A31;
  vertical-align: middle; }

.breadcrumbs__link {
  text-decoration: underline; }

.breadcrumbs__link--selected {
  cursor: default;
  color: #555555;
  text-decoration: none; }
  .breadcrumbs__link--selected:hover {
    text-decoration: none; }

/*
	Form elements component

	- Generic form elements
	- Found site wide
*/
select,
input[type="text"],
input[type="number"],
textarea {
  font-size: 16px;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  box-sizing: border-box; }
  select:focus,
  input[type="text"]:focus,
  input[type="number"]:focus,
  textarea:focus {
    outline: 5px auto #5BC4EC; }

select {
  -webkit-appearance: none;
  padding: 10px 40px 10px 10px;
  height: 40px;
  background-color: transparent;
  background-image: url("/iconography/img/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: 99% 50%; }

input[type="text"],
input[type="number"] {
  padding: 10px;
  height: 40px; }

textarea {
  height: 100px;
  width: 100%; }

.range {
  display: table;
  width: 100%; }

.range__input {
  display: table-cell;
  vertical-align: middle;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%; }
  .range__input:focus {
    outline: none; }
  .range__input::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #555555;
    background: #5BC4EC;
    border-radius: 5px;
    border: 1px solid #555555; }
  .range__input::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #555555;
    border: 1px solid #555555;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px; }
  .range__input:focus::-webkit-slider-runnable-track {
    background: #5BC4EC; }
  .range__input::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #555555;
    background: #5BC4EC;
    border-radius: 5px;
    border: 1px solid #555555; }
  .range__input::-moz-range-thumb {
    box-shadow: 1px 1px 1px #555555;
    border: 1px solid #555555;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer; }
  .range__input::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .range__input::-ms-fill-lower {
    background: #5BC4EC;
    border: 1px solid #555555;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #555555; }
  .range__input::-ms-fill-upper {
    background: #5BC4EC;
    border: 1px solid #555555;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #555555; }
  .range__input::-ms-thumb {
    box-shadow: 1px 1px 1px #555555;
    border: 1px solid #555555;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer; }
  .range__input:focus::-ms-fill-lower {
    background: #5BC4EC; }
  .range__input:focus::-ms-fill-upper {
    background: #5BC4EC; }

.range__value {
  display: table-cell;
  width: 100px;
  vertical-align: middle;
  text-align: center; }

/*
	Lists component

	- Differently styled list components
	- Found site wide
*/
.list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.list__ordered {
  list-style-type: decimal;
  margin-left: 15px; }

.list__item {
  margin-top: 5px;
  margin-bottom: 5px; }

.list__featured-item {
  margin-bottom: 15px; }

.list__featured-link {
  display: block;
  text-decoration: none;
  display: flex;
  color: #555555; }

.list__featured-image-container {
  width: 20%;
  max-width: 150px;
  padding-right: 15px; }

.list__featured-image {
  max-width: 100%;
  height: auto; }

.list__featured-meta {
  width: 80%; }

/*
    Navigation component

    - Used for mobile navigation and when there si room, traditional navigation
    - Found site wide
*/
.main-nav__navicon {
  position: relative;
  padding-left: 20px;
  margin: 10px 10px 0 10px;
  display: inline-block;
  color: #555555; }
  @media (min-width: 36.875em) {
    .main-nav__navicon {
      display: none; } }
  .main-nav__navicon * {
    box-sizing: border-box; }
  .main-nav__navicon:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 15px;
    height: 2px;
    background: #555555;
    box-shadow: 0 0.25em 0 0 #555555, 0 0.5em 0 0 #555555; }

.main-nav {
  background-color: #eaeaea;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.5s ease-in-out;
  margin-top: 10px; }
  @media (min-width: 36.875em) {
    .main-nav {
      background-color: transparent;
      max-height: 50px;
      transition: none;
      margin-top: 0;
      height: 25px;
      z-index: 1;
      padding: 10px; } }

.main-nav--open {
  overflow-y: hidden;
  transition: max-height 0.5s ease-in-out;
  max-height: 350px; }
  @media (min-width: 36.875em) {
    .main-nav--open {
      max-height: auto;
      transition: none; } }

@media (min-width: 36.875em) {
  .main-nav--fixed {
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #cccccc; } }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%; }

.main-nav__item {
  border-bottom: 1px solid #ffffff;
  height: 100%; }
  .main-nav__item:last-child {
    border-bottom: 0; }
  @media (min-width: 36.875em) {
    .main-nav__item {
      display: inline-block;
      border-bottom: 0; }
      .main-nav__item:last-child {
        border-right: 0; } }

.main-nav__link {
  height: 100%;
  color: #555555;
  display: block;
  padding: 15px; }
  .main-nav__link:hover {
    text-decoration: none;
    background-color: #dedede; }
  @media (min-width: 36.875em) {
    .main-nav__link {
      font-weight: 900;
      padding: 5px 0 0 0;
      margin: 0 15px; }
      .main-nav__link:hover {
        background-color: transparent;
        border-bottom: 3px solid #F09A31; }
      .main-nav--fixed .main-nav__link {
        color: #555555; } }

.main-nav__link--selected {
  background-color: #ffffff; }
  .main-nav__link--selected:hover {
    background-color: #ffffff;
    cursor: default; }
  @media (min-width: 36.875em) {
    .main-nav__link--selected {
      background-color: transparent;
      border-bottom: 3px solid #F09A31; }
      .main-nav__link--selected:hover {
        background-color: transparent; } }

/*
	Footer component

	- Used to display navigation items to draw users back into the site
	- Found site wide
*/
.footer,
.footer__list {
  margin: 0;
  list-style-type: none;
  width: 100%; }

.footer__list {
  padding: 0; }

.footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  box-sizing: border-box; }
  @media (min-width: 31.25em) {
    .footer {
      text-align: left;
      display: flex;
      justify-content: space-around; } }
  .footer * {
    box-sizing: border-box; }

.footer__col--2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #bbbbbb;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #bbbbbb;
  padding: 20px 0;
  margin: 20px 0; }
  @media (min-width: 31.25em) {
    .footer__col--2 {
      margin: 0;
      padding: 0;
      border-top: 0;
      border-bottom: 0;
      padding: 0 15%;
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: #bbbbbb;
      border-left-width: 1px;
      border-left-style: solid;
      border-left-color: #bbbbbb; } }

.footer__list-item {
  margin-bottom: 5px; }

.footer__link {
  color: #555555; }

/*
	Strapline component

	- Used for company slogan/message
	- Found on every page in the header
*/
.strapline {
  background-color: #5BC4EC;
  color: #ffffff;
  padding: 10px;
  font-style: italic;
  text-align: center; }

/*
	Table component

	- Used for generic table styles
	- Found mostly on article pages
*/
table {
  border-spacing: 0;
  width: 100%; }

th,
td {
  padding: 10px; }

th {
  text-align: left;
  background-color: #5BC4EC;
  color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #555555; }

tr:nth-child(even) {
  background-color: white; }

tr:hover {
  background-color: #fbfeff; }

/*
	Feature component

	- Used for feature information/testamonials
	- Mostly found in the aside
*/
@media (min-width: 35.5em) {
  .feature__container {
    display: flex;
    justify-content: space-between; } }

@media (min-width: 48em) {
  .feature__container {
    display: block; } }

.feature__container * {
  box-sizing: border-box; }

.feature {
  background-color: #dff0d8;
  padding: 20px;
  color: #555555;
  border-style: solid;
  border-width: 1px;
  border-color: #d1d1d1;
  margin-bottom: 20px;
  border-radius: 3px; }
  @media (min-width: 35.5em) {
    .feature {
      margin-bottom: 0;
      width: calc(33% - 12px); } }
  @media (min-width: 48em) {
    .feature {
      margin-bottom: 40px;
      width: 100%; }
      .feature:last-child {
        margin-bottom: 0; } }

/*
	Map component

	- Used for highlighting contact location
	- Found on contact page
*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

#map {
  height: 300px; }

/*
	Bullet component

	- Used to highlight points for services / USP etc
	- Found in the header
*/
