* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  color: #555555; }

.container {
  margin: 0 auto; }

.main__page-content {
  display: table;
  table-layout: fixed;
  width: 100%; }

.main__content {
  padding: 1rem; }
  @media (min-width: 48.063em) {
    .main__content {
      display: table-cell;
      width: 70%; } }

.main__aside {
  padding: 1rem; }
  @media (min-width: 48.063em) {
    .main__aside {
      display: table-cell;
      width: 30%; } }

.main__footer {
  padding: 1rem; }

body {
  padding: 1rem; }

.component {
  margin: 1rem 0; }

.component__meta {
  padding: 1rem;
  background-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-color: #8a8585;
  margin-top: 1rem;
  white-space: pre-wrap;
  color: #ffffff; }

.component__menu-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.component__menu-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1rem; }

.component__menu-link {
  padding: 1rem 0 0.5rem 0;
  display: block; }

.colour-one {
  background-color: #ab967d;
  padding: 1rem;
  color: white; }

.colour-two {
  background-color: #6791ac;
  padding: 1rem;
  color: white; }

.colour-three {
  background-color: #b94a48;
  padding: 1rem;
  color: white; }

.colour-four {
  background-color: #eaeaea;
  padding: 1rem;
  color: white; }

.colour-five {
  background-color: #f7f7f7;
  padding: 1rem;
  color: white; }

.black {
  background-color: #555555;
  padding: 1rem;
  color: white; }

.white {
  background-color: #ffffff;
  padding: 1rem; }

.grey {
  background-color: #cccccc;
  padding: 1rem; }

.warning {
  background-color: #fcf8e3;
  padding: 1rem; }

.success {
  background-color: #dff0d8;
  padding: 1rem; }

.error {
  background-color: #f2dede;
  padding: 1rem; }

.main__header {
  background: #ab967d; }

.main__content {
  background: #6791ac; }

.main__aside {
  background: #b94a48; }

.main__footer {
  background: #eaeaea; }

.font-large {
  font-size: 1.1rem; }

.font-small {
  font-size: 0.9rem; }

.font-smaller {
  font-size: 0.8rem; }

.button {
  position: relative;
  padding: 0.75rem 2rem 0.7rem 2rem;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  border-style: none;
  cursor: pointer;
  display: inline-block; }
  .button:active {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent; }
  .button:focus {
    outline: none; }

.button__primary {
  background-color: #ab967d;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #957d60;
  text-shadow: 0px -2px #957d60; }
  .button__primary:hover {
    background-color: #a1896e; }

.button__secondary {
  background-color: #6791ac;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #4f7791;
  text-shadow: 0px -2px #4f7791; }
  .button__secondary:hover {
    background-color: #5885a1; }

h1,
h2,
h3 {
  margin: 0 0 10px 0;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.3rem; }

p {
  line-height: 1.5;
  margin: 0 0 0.5rem 0; }

a {
  color: #ab967d;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/* General */
* {
  box-sizing: border-box; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

.clearfix {
  display: block; }

/* Main slider div */
.slider {
  overflow: hidden; }

/* Main image area */
.slider__main {
  position: relative; }

.slider__link {
  display: block;
  cursor: default; }

.slider__img,
.slider__video {
  width: 100%;
  display: block; }

.slider__navigation--main {
  position: absolute;
  top: 43%;
  background: #000;
  cursor: pointer;
  color: #fff;
  opacity: 0.8;
  width: 44px;
  height: 44px;
  text-align: center;
  border: 0; }

.slider__navigation--main:focus {
  outline: 0; }

.slider__navigation--main:disabled {
  display: none; }

.slider__navigation--main.left {
  left: 0; }

.slider__navigation--main.right {
  right: 0; }

.slider__navigation--main:before {
  position: absolute;
  content: '';
  background-image: url("http://www.crystalski.co.uk/static/img/crystal/arrow-sprite.png");
  background-repeat: no-repeat;
  width: 13px;
  height: 13px; }

.slider__navigation--main.left:before {
  background-position: 4px -309px;
  left: 11px;
  top: 15px; }

.slider__navigation--main.right:before {
  background-position: 4px -342px;
  right: 17px;
  top: 15px; }

/* Thumbnail navigation area */
.slider__nav {
  position: relative;
  padding: 5px 0px;
  background: black; }

.slider__thumbs {
  position: relative;
  margin: 0;
  padding: 0; }

.thumbs__list-item {
  float: left;
  padding: 0 2px;
  cursor: pointer;
  list-style-type: none;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out; }

.thumbs__list-item.selected {
  opacity: 1;
  position: relative; }

.thumbs__list-item.selected .thumbs__img {
  border: 2px solid #fff; }

.thumbs__img {
  width: 100%;
  display: block;
  border: 2px solid transparent; }

.slider__navigation--thumb {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  width: 30px;
  height: 100%;
  color: #fff;
  border: 0; }

.slider__navigation--thumb:focus {
  outline: 0; }

.slider__navigation--thumb:disabled {
  display: none; }

.slider__navigation--thumb.left {
  left: 0; }

.slider__navigation--thumb.right {
  right: 0; }

.slider__navigation--thumb:before {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  content: '';
  background-image: url("http://www.crystalski.co.uk/static/img/crystal/arrow-sprite.png");
  background-repeat: no-repeat;
  width: 13px;
  height: 13px; }

.slider__navigation--thumb.left:before {
  background-position: 4px -309px;
  left: 50%;
  margin-left: -10px; }

.slider__navigation--thumb.right:before {
  background-position: 4px -342px;
  right: 50%;
  margin-right: -4px; }

/* Counter */
.slider__counter {
  position: absolute;
  right: 0.25em;
  bottom: 0.25em;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.7);
  color: #fff; }
  @media all and (min-width: 35.5em) {
    .slider__counter {
      right: 1em;
      bottom: 1em; } }

.message {
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px; }

.message__warning {
  background-color: #fcf8e3;
  color: #caad16;
  border-color: #f7ecb5; }

.message__success {
  background-color: #dff0d8;
  color: #529138;
  border-color: #c1e2b3; }

.message__error {
  background-color: #f2dede;
  color: #963b3b;
  border-color: #e4b9b9; }

.pagination {
  text-align: center; }

.pagination__item {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc; }

.pagination__link {
  display: block;
  padding: 0.25rem;
  text-decoration: none; }

.pagination__link--selected {
  background-color: #6791ac;
  color: #ffffff;
  cursor: default; }

.breadcrumbs {
  margin: 0;
  padding: 0; }

.breadcrumb__item {
  display: inline-block;
  font-size: 0.9rem; }

.breadcrumb__item--divider {
  color: #ab967d;
  vertical-align: middle; }

select,
input[type="text"],
input[type="number"],
textarea {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif; }

select {
  -webkit-appearance: none;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  height: 40px;
  background-color: transparent;
  background-image: url("/iconography/img/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: 99% 50%; }

input[type="text"],
input[type="number"] {
  padding: 0.5rem;
  height: 40px; }

textarea {
  height: 100px;
  width: 100%; }

.list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.list__ordered {
  list-style-type: decimal;
  margin-left: 1rem; }

.list__item {
  margin-top: 5px;
  margin-bottom: 5px; }

.list__featured-item {
  margin-bottom: 1rem; }

.list__featured-link {
  display: block;
  text-decoration: none;
  display: flex; }

.list__featured-image-container {
  width: 20%;
  max-width: 150px;
  padding-right: 1rem; }

.list__featured-image {
  max-width: 100%;
  height: auto; }

.list__featured-meta {
  width: 80%; }

.navicon {
  position: relative;
  padding-left: 1.25em;
  margin: 0.75rem 0.75rem 0 0.75rem;
  display: inline-block; }
  @media (min-width: 43.75em) {
    .navicon {
      display: none; } }

.navicon:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 0 0.25em 0 0 #555555, 0 0.5em 0 0 #555555; }

.main-nav {
  background-color: #eaeaea;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.5s ease-in-out;
  margin-top: 0.75rem; }
  @media (min-width: 43.75em) {
    .main-nav {
      max-height: 50px;
      transition: none;
      margin-top: 0;
      height: 50px; } }

.main-nav--open {
  overflow-y: hidden;
  transition: max-height 0.5s ease-in-out;
  max-height: 200px; }
  @media (min-width: 43.75em) {
    .main-nav--open {
      max-height: auto;
      transition: none; } }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.main-nav__item {
  border-bottom: 1px solid #ffffff; }
  .main-nav__item:last-child {
    border-bottom: 0; }
  @media (min-width: 43.75em) {
    .main-nav__item {
      display: inline-block;
      border-bottom: 0;
      height: 50px;
      line-height: 2rem;
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: #ffffff; }
      .main-nav__item:last-child {
        border-right: 0; } }

.main-nav__link {
  color: #555555;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none; }
  .main-nav__link:hover {
    background-color: #dedede; }

.main-nav__link--selected {
  background-color: #dedede; }

.footer,
.footer__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%; }

.footer__col {
  display: inline-block;
  width: 33%; }

.footer__col--1 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ab967d;
  padding-right: 0.5rem; }
  @media (min-width: 31.25em) {
    .footer__col--1 {
      padding-right: 1rem; } }

.footer__col--2 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ab967d;
  padding-left: 0.5rem; }
  @media (min-width: 31.25em) {
    .footer__col--2 {
      padding-left: 1rem; } }

.footer__col--3 {
  padding-left: 0.5rem; }
  @media (min-width: 31.25em) {
    .footer__col--3 {
      padding-left: 1rem; } }

.footer__list-item {
  margin-bottom: 5px; }
