// Component library specific styles
body {
	padding: 1rem;
	font-family: $font-family-secondary;
}
.component {
	margin: 1rem 0;
}
.component__meta {
	padding: 1rem;
    background: #000000;
    border-width: 1px;
    border-style: solid;
    border-color: #8a8585;
    margin-top: 1rem;
    white-space: pre-wrap;
    color: #ffffff
}

// Component specific styles for the colours partial
.colour-one {
    background: $colourOne; 
    padding: 1rem;
    color: white; 
}
.colour-two {
    background: $colourTwo;
    padding: 1rem;
    color: white;    
}
.colour-three {
    background: $colourThree;
    padding: 1rem;
    color: white;   
}
.colour-four {
    background: $colourFour;
    padding: 1rem;
    color: white;   
}

// Component specific styles for the layout partial
.main__header {
    background: $colourOne;
}
.main__content {
    background: $colourTwo;
}
.main__aside {
    background: $colourThree;
}
.main__footer {
    background: $colourFour;
}
