// Component library specific styles
body {
	padding: 1rem;
	font-family: $font-family-secondary;
}
.component {
	margin: 1rem 0;
}
.component__meta {
	padding: 1rem;
    background-color: #000000;
    border-width: 1px;
    border-style: solid;
    border-color: #8a8585;
    margin-top: 1rem;
    white-space: pre-wrap;
    color: #ffffff
}

// Component specific styles for the colours partial
.colour-one {
    background-color: $colourOne; 
    padding: 1rem;
    color: white; 
}
.colour-two {
    background-color: $colourTwo;
    padding: 1rem;
    color: white;    
}
.colour-three {
    background-color: $colourThree;
    padding: 1rem;
    color: white;   
}
.colour-four {
    background-color: $colourFour;
    padding: 1rem;
    color: white;   
}
.black {
    background-color: $black;
    padding: 1rem;
    color: white; 
}
.white {
    background-color: $white;
    padding: 1rem;
}
.grey {
    background-color: $grey;
    padding: 1rem;
}
.warning {
    background-color: $warning;
    padding: 1rem;
}
.success {
    background-color: $success;
    padding: 1rem;
}
.error {
    background-color: $error;
    padding: 1rem;
}

// Component specific styles for the layout partial
.main__header {
    background: $colourOne;
}
.main__content {
    background: $colourTwo;
}
.main__aside {
    background: $colourThree;
}
.main__footer {
    background: $colourFour;
}

// Component specific styles for the font sizes
.font-large {
    font-size: $font-large;
}
.font-small {
    font-size: $font-small;
}
.font-smaller {
    font-size: $font-smaller;
}
