/*
	Strapline component

	- Used for company slogan/message
	- Found on every page in the header
*/

// Vars
$strapline: (
	'padding10': 10px
);

// Styles
.strapline {
	background-color: $colourTwo;
	color: $white;
	padding: map-get($strapline, 'padding10');
	font-style: italic;
	text-align: center;
}
