.list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// List standard
.list__ordered {
	list-style-type: decimal;
    margin-left: 1rem;
}
.list__item {
	margin-top: 5px;
	margin-bottom: 5px;
}

// List featured
.list__featured-item {
	margin-bottom: 1rem;
}
.list__featured-link {
	display: block;
	text-decoration: none;
	display: flex;
}
.list__featured-image-container {
	width: 20%;
	max-width: 150px;
	padding-right: 1rem;
}
.list__featured-image {
	max-width: 100%;
    height: auto;
}
.list__featured-meta {
	width: 80%;
}