.breadcrumbs {
	margin: 0;
	padding: 0;
}

.breadcrumbs__item {
	display: inline-block;
	font-size: $font-small;
}

.breadcrumbs__item--divider {
	color: $primary;
    vertical-align: middle;
}

.breadcrumbs__link {
	text-decoration: underline;
}

.breadcrumbs__link--selected {
	cursor: default;
	color: $black;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
