/*
	Breadcrumbs component

	- Used so users are always aware of where they are on the site
	- Found in header on all pages below homepage
*/

// Styles
.breadcrumbs {
	margin: 0;
	padding: 0;
}

.breadcrumbs__item {
	display: inline-block;
	font-size: $font-small;
}

.breadcrumbs__item--divider {
	color: $colourOne;
    vertical-align: middle;
}

.breadcrumbs__link {
	text-decoration: underline;
}

.breadcrumbs__link--selected {
	cursor: default;
	color: $black;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
